.colortxt{
    color: #440E0E;
}

.colorbutton {
    background-color: #440E0E;
    color: #ffffff;
    border: none; /* Elimina el borde predeterminado */
    transition: all 0.3s ease;
  }
  
  .colorbutton:focus,
  .colorbutton:active,
  .colorbutton:focus-visible {
    outline: none !important;  /* Elimina el contorno */
    box-shadow: none !important; /* Elimina cualquier sombra aplicada al foco */
    border: none !important; /* Asegura que no haya borde visible */
  }
  
  .colorbutton:hover {
    background-color: #ffffff;
    color: #440E0E;
    border: 1px solid #440E0E; /* Opcional: Agregar borde cuando está en hover */
  }