.colorbutton {
  background-color: #901C1C;
  color: white;
  border: none;
  transition: all 0.3s ease;
}

.colorbutton:hover {
  background-color: white;
  color: #901C1C;
  border: 1px solid #901C1C;
}

.disabled-custom {
  background-color: white !important;
  color: #901C1C !important;
  border: 1px solid #901C1C !important;
  pointer-events: none;
  cursor: not-allowed;
}
