.bgcolor {
    background-color: #440E0E;
  }
  
  .colorbg {
    background-color: #ffffff;
    color: #440E0E; /* Aseguramos que el texto sea del color adecuado */
    border: none;
    transition: all 0.3s ease;
  }
  
  .txtcolor {
    color: white;
  }
  
  .colortxtbutton {
    color: #440E0E;
    transition: all 0.3s ease;
  }
  
  .colorbg:hover {
    background-color: #440E0E;
    color: #ffffff;
    border: 1px solid #ffffff;
  }
  
  .colorbg:focus,
  .colorbg:active,
  .colorbg:focus-visible {
    outline: none !important; /* Elimina cualquier contorno por enfoque */
    box-shadow: none !important; /* Elimina la sombra de enfoque */
    border: none !important; /* Elimina cualquier borde aplicado */
  }
  


  